/*Header*/
.header {
    height: 60vh;
    background-image: url(../img/post-image.jpg);
    background-position: center;
    background-size:cover;
    color: $white;
    text-align: center;
    position: relative;
}

.header__title {
    font-family: $playfair-display;
    font-weight: $font-black-italic;
    font-size: $xx-large;
    font-style: italic;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    margin: auto;
    width: 35%;
    height: 65%;
}

.header__arrow {
    position: absolute;
    bottom: 30px;
}