/*Header*/
.header {
    height: 700px;
    background-image: url(../img/post-image.jpg);
    background-position: center;
    background-size:cover;
    color: $white;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    &__title {
        font-family: $playfair-display;
        font-weight: $font-black-italic;
        font-size: $xx-large;
        font-style: italic;
    }
    &__arrow {
        position: absolute;
        bottom: 30px; 
        left: 0;
        right: 0;
        margin: auto;
    }
}
